.input {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px #0f49d8;
}

.input:focus-within {
  box-shadow: 0px 0px 0px 1px var(--color-border-input-selected, #0f49d8) inset,
    0px 1px 2px 0px rgba(18, 18, 23, 0.05),
    0px 0px 0px 3px var(--color-violet-100, #0f49d8);
}
