/* Blue */
@theme {
  --color-blue-50: #e7edfb;
  --color-blue-100: #dbe4f9;
  --color-blue-200: #b5c7f3;
  --color-blue-300: #0f49d8;
  --color-blue-400: #0e42c2;
  --color-blue-500: #0c3aad;
  --color-blue-600: #0b37a2;
  --color-blue-700: #092c82;
  --color-blue-800: #072161;
  --color-blue-900: #051a4c;
}
