.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.input {
  &[data-variant="default"] {
    border: 0.5px solid #c7c7c7;
    border-radius: 8px;

    padding: 12px;
    font-size: 14px;

    .label {
      font-size: 13px;
      color: var(--color-gray-800);
      font-family: Inter;
      line-height: 150%;
    }

    &:hover {
      box-shadow: 0px 0px 0px 1px
          var(--color-border-input-hover, rgba(163, 163, 163, 0.7)) inset,
        0px 1px 2px 0px rgba(18, 18, 23, 0.05),
        0px 0px 0px 3px rgba(20, 20, 20, 0.05);
    }

    &:focus {
      border: 0.5px solid #0c3aad;
    }
    &[aria-invalid="true"] {
      box-shadow: 0px 0px 0px 1px var(--color-border-input-error, #f04438) inset,
        0px 1px 2px 0px rgba(18, 18, 23, 0.05),
        0px 0px 0px 3px var(--color-border-input-error-spread, #fee4e2);
    }

    &::placeholder {
      color: #6c6c6f;
      font-size: 13px;
    }
    &:disabled {
      background: var(--color-background-bg-page, #fafafa);
      color: var(--color-foreground-fg-soft, #d6d6d6);
    }
  }

  .section[data-position="left"] {
    margin: 0px;
  }
  .section[data-position="right"] {
    margin: 0px;
  }
}
