.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}
.dropdown {
  box-shadow: 0px 0px 0px 1px rgba(9, 9, 11, 0.05),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background: white;
}

.input {
  &[data-variant="default"] {
    border: none;
    box-shadow: 0px 0px 0px 1px
        var(--color-border-input-normal, rgba(214, 214, 214, 0.7)) inset,
      0px 1px 2px 0px rgba(18, 18, 23, 0.05);
    height: 40px;
    border-radius: 8px;
    font-size: 13px;
    padding-left: 8px;
    .label {
      font-size: 13px;
      color: #000;
      font-family: Inter;
      line-height: 150%;
    }

    &:hover {
      box-shadow: 0px 0px 0px 1px
          var(--color-border-input-hover, rgba(163, 163, 163, 0.7)) inset,
        0px 1px 2px 0px rgba(18, 18, 23, 0.05),
        0px 0px 0px 3px rgba(20, 20, 20, 0.05);
    }

    &[data-expanded="true"] {
      box-shadow: 0px 0px 0px 1px var(--color-border-input-selected, #0c3aad)
          inset,
        0px 1px 2px 0px rgba(18, 18, 23, 0.05),
        0px 0px 0px 3px var(--color-violet-100, #ece9fe);
    }

    &[aria-invalid="true"] {
      box-shadow: 0px 0px 0px 1px var(--color-border-input-error, #f04438) inset,
        0px 1px 2px 0px rgba(18, 18, 23, 0.05),
        0px 0px 0px 3px var(--color-border-input-error-spread, #fee4e2);
    }

    &::placeholder {
      color: #6c6c6f;
      font-size: 14px;
    }

    &:disabled {
      background: var(--color-background-bg-page, #fafafa);
      color: var(--color-foreground-fg-soft, #d6d6d6);
    }
  }
}
